<div class="navbar">

</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.771935833491!2d20.98812161609898!3d50.01562972648028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473d8354fe68ac69%3A0xb016235c60a68f9e!2sPa%C5%84stwowa+Wy%C5%BCsza+Szko%C5%82a+Zawodowa!5e0!3m2!1spl!2spl!4v1540229987898" width="800" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

<ul class="legend">
  <li>Państwowa wyższa szkołą zawodowa w Tarnowie</li>
  <li><br>ul. Mickiewicza 8<br></li>
  <li>33-100 Tarnów</li>
  <h4><br>Dni i godziny w których przyjmowani są patenci  </h4>
  <li><br>Poniedziałek: 9:00 - 14:00 </li>
  <li><br>Wtorek: 9:00 - 14:00</li>
  <li><br>Środa: 9:00 - 14:00 </li>
  <li><br>Czwartek: 9:00 - 14:00 </li>
  <li><br>Piątek: 9:00 - 14:00 </li>
  <li><br>Sobota: nieczynne</li>
  <li><br>Niedziela nieczynne</li>
</ul>

<script type="text/javascript" src="js/przycisk.js"></script>
<script src="js/navbar.js" type="text/javascript">    </script>
