<div class="navbar">

</div>
<form>
  <div class="form-group">
    <label for="imie">Wpisz swoje imię</label>
    <input type="text" class="form-control" id="imie" >
    <div id="dimie"  type="text" class="zle"></div>
    <div id="zimie"  type="text" class="dobrze"></div>
  </div>
  <div class="form-group">
    <label for="nazwisko">Wpisz swoje nazwisko</label>
    <input type="text" class="form-control" id="nazwisko" >
    <div id="dnazwisko"  type="text" class="zle"></div>
    <div id="znazwisko"  type="text" class="dobrze"></div>
  </div>
  <div class="form-group">
    <label for="e-mail">Wpisz swój e-mail</label>
    <input type="text" class="form-control" id="e-mail" >


    <div class="form-group">
      <label for="Wybierz płeć">Wybór płci</label>
      <select class="form-control" id="Wybierz płeć">
        <option>Mężczyzna</option>
        <option>Kobieta</option>


      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Opis</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="wiek">Wybierz swój wiek</label>
      <input type="number" name="wiek" id="wiek" min="10" max="120">
      <div id="dwiek" type="number" class="zle"></div>
      <div id="zwiek" type="number" class="dobrze"></div>
    </div>

    <div>
      <label for="Stan cywilny">Stan cywilny</label>
      <select class="form-control" id="Stan cywilny">
        <option>Kawaler</option>
        <option>Panna</option>
        <option>Żonaty</option>
        <option>Zamężna</option>
        <option>Wdowiec</option>
        <option>Wdowa</option>
      </select>
    </div>


    <button class="send" type="submit" >Wyślij</button>
    <button class="reset" type="reset" >Wyczyść</button>
  </div>
  <div>
    <script src="js/walidacja.js" type="text/javascript">    </script>
    <script src="js/przycisk.js" type="text/javascript">    </script>
    <script src="navbar.js" type="text/javascript">    </script>


  </div>
</form>

